{% extends "base.html.twig" %}

{% block title %}
    Bienvenue !
{% endblock %}

{% block description %}
    Reconnaître facilement un champignon comestible ? Retrouvez ces informations sur le guide des champignons.
{% endblock %}

{% block body %}
<div class="bgfullSize home__bg--image"></div>
{# Video #}
<video class="home__video-bg" playsinline autoplay="true" loop muted>
    <source src="{{ asset('/build/videos/bg-video.mp4') }}" type="video/mp4">
    <source src="{{ asset('/build/videos/bg-video.webm') }}" type="video/webm">
</video>
<div class="background bgColor--filterBlack"></div>

<article class="container-fluid d-flex flex-column justify-content-around align-items-center home">
    <div class="row">
        <section class="col">
            <h1 class="text-center text-light py-4 py-lg-5">Le royaume des champignons</h1>
        </section>
    </div>
    <div class="row">
        <section class="col">
            {# <a href="#" style="text-decoration:none;"> #}
                <h2 class="ft-lobster text-light text-center p-2 p-lg-5">Massif de la Sainte-Baumes, massif des Maures, Alpes du Sud.</h2>
            {# </a> #}
        </section>
    </div>
</article>
{% endblock %}
