{# <embed type="video/mp4"
       src="{{ asset('/build/videos/bg-video.mp4') }}"
       width="250"
       height="200"> #}

       <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    allow="fullscreen"
    {# width="300"
    height="200" #}
    src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
</iframe>