{% extends 'base.html.twig' %}

{% block title %}Devenez membres !{% endblock %}

{% block description %}Rejoignez-nous en devenant un acteur du royaume des champignons {% endblock %}

{% block body %}
<div class="bgfullSize bg-image--forest"></div>
<div class="bgfullSize bgColor--opacity--07"></div>

    <article>
    <section class="container py-5 my-5">
        <div class="row">
            <div class="col d-flex justify-content-center mb-2">
                <div class="login rounded text-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h1 class="h3 ft__family--poppins text-center">Inscription</h3>
                        <a href="{{ path('login') }}" class="h3 btn btn-outline-warning">Se connecter</a>
                    </div>
                    <hr>
                    <div class="my-4">
                        <h2 class="h4 ft__family--poppins text-center">Veuillez vous identifier</h2>
                    </div>
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.pseudo)}}
                        {{ form_row(registrationForm.email)}}
                        {{ form_row(registrationForm.plainPassword)}}
                        <button type="submit" class="btn btn-outline-warning mt-4">Je m'inscris</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
