// Inclure ici tous les remplacements de variables par défaut 
// Modification de la couleur du theme navbar-dark de Bootstrap.
$navbar-dark-color: white;
$navbar-dark-hover-color: #c2bdb6;
$navbar-dark-active-color: #e08b5e;

// Ajouter une couleur personnalisée au theme de Bootstrap.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Create your own map
$custom-colors: (
  "raspberry": rgb(197, 29, 74),
  "greenDark": #3f503e,
);
//Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
// $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
// $utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
// $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
// $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// Importer Bootstrap
@import "~bootstrap/scss/bootstrap";

// .bg-custom-color{background-color: var(--bs-custom-color);};












