// Fonction CSS que l'on importe dans des regles avec @include
@mixin play_button_max($bg_color, $text_color) {
    position: absolute;
    left: 0px;
    background: url('./../images/icones/click.png') no-repeat;
    background-position: right .5rem center;
    background-size: 30px;
    width: 50px;
    background-color: $bg_color;
    color: $text_color;
    height: 40px;
    border-radius: 0 7px 7px 0;
}

.boxVideoLinkURL {
        position: relative;
        max-width: 250px;
        overflow: hidden;

        video {
            width: 100%;
        }

        img {
            width: 100%;
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__play_button_max {
            @include play_button_max (rgba(255, 0, 0, 0.5), black);
            transition: .4s ease-in;

        }

        &:hover &__play_button_max {
            width: 50%;
            border-style: solid;
            border-width: 1px 1px 1px 0;
            border-color: rgb(77, 76, 76);
            box-shadow: -2px -2px 8px -5px #000000,2px 4px 13px -7px rgb(0, 0, 0), 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }

}