/* ******************************************************* 
                      THEMES COMMUN                    
******************************************************* */

// Arriere plan image ou color plein écran
.bgfullSize {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

@mixin bgImageForest($image) {
    background: url($image);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
}

.baseMinHeight {
    min-height:100vh; /* 1 */
}

.minHeightblock {
    min-height: calc(100vh - 90px);
}

// Atténue la couleur 
@function setTextColorIfHover($baseColor) {
    @return(darken($baseColor, 15%));
}

// Personnaliser la couleur des liens de balise a {}
@mixin linkColor($myLinkColor) {
        text-decoration: none;
        color: $myLinkColor !important;
        
        &:link {
            color: $myLinkColor !important;
        }

        &:visited {
            color: $myLinkColor !important;
        }

        &:hover {
            color: setTextColorIfHover($myLinkColor) !important;
            text-decoration: underline;
        }
}

.bg-image--forest {
    @include bgImageForest("./../images/foret/foret-3.jpg");
}

.bg-image--forum {
    @include bgImageForest("./../images/foret/foret-2.jpg");
}

.bg-image--error404 {
    @include bgImageForest("./../images/foret/foret-5.jpg");
}

// Filtre d'arrière plan
.bgColor--filterBlack {
    background-color: rgba(0, 0, 0, 0.4);
}

.bgColor--opacity--07 {
    background-color: rgba(0, 0, 0, 0.6);
}

.bgColor--whiteLight {
    background-color: rgba(255, 255, 255, 0.5);
}

// Ombrage de texte
.txtShadow--dark {
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
 }

 .txtShadow--white {
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
 }

.txtShadow {
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
}

.ftSize--medium {
    font-size: 2.5em;
}
 
// ombrage des vignettes
.box-shadow-down {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}




