.currentUser {
    h1 {
        font-family: 'Lobster', cursive;
        @include font-size(3rem);
    }
   img {
        border-radius: 5px;
        max-width: 250px;
        padding: 5px;
        margin-top: 5px;
        box-shadow: 2px 2px 5px rgb(163, 159, 159);
    }
}
