/* Liens vers le CDN de Google font */
// @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tangerine&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

// Font family
.ft__family {
    &--playFair {
        font-family: 'Playfair Display', serif;
    }
    &--lobster {
        font-family: 'Lobster', cursive;
    }
    &--poppins {
        font-family: 'Poppins', sans-serif;
    }
    &--roboto {
        font-family: 'Roboto', sans-serif;
    }
}

@mixin titlePage() {
    h1 {
       font-family: 'Tangerine', cursive;
        @include font-size(5.5rem); 
    }
}

@mixin subtitlePage {
    h2{
        font-family: 'Lobster', cursive;
        @include font-size(1.3rem);
    }
}

p {
    line-height: 1.5em;
}

.navbar li {
    font-size: 1.1em;
}

.navbar h3 {
    font-size: 1.1em;
}

.ftSize--small{
    font-size: 0.7em;
}

// TAILLE DES POLICES
.ftsz {
    &-20 {
        font-size: 2rem;
    }
    &-17 {
        font-size: 1.7rem;
    }
    &-15 {
        font-size: 1.5rem;
    }
    &-12 {
        font-size: 1.2rem;
    }
    &-10 {
        font-size: 1rem;
    }
    &-9 {
        font-size: .9rem;
    }
    &-8 {
        font-size: .8rem;
    }
    &-7 {
        font-size: .7rem;
    }
    &-5 {
        font-size: .5rem;
    }
}
