.forumSubjects {
    @include titlePage();
    @include subtitlePage();

    table {
        a {
            @include linkColor(#e9cfc2);  
        } 
        &__description {
            img {
                max-width: 50%;
            }
        }
    }

    &__commentary {
        &__image--size {
            img {
                max-width: 100%;
            }
        }
    }
}

