.forumSubject {
    min-height: calc(100vh - 90px);
    p {
        font-size: 1.2em;
    }

    &__commentary {
        &__image--size {
            img {
                max-width: 100%;
            }
        }
    }
}



