
.home {
    // @include waitShow;
    min-height: calc(100vh - 90px);
    @include titlePage();
    @include subtitlePage();
    
    &__video-bg {
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -100;
        background-size: cover;
    }

    h1 {
        letter-spacing: 10px;
        text-shadow: 2px 1px 5px rgb(0, 0, 0);
        // @include font-size(5.5rem);
    }

    h2 {
        font-family: 'Lobster', cursive;
        @include font-size(1.5rem);
        text-shadow: 2px 1px 5px rgb(0, 0, 0);
        line-height: 3em;
        letter-spacing: 4px;
    }

    // @include media-breakpoint-up(sm){
    //     min-height:90vh;
    //     // BLOCK VIDEO
        // .home__video-bg {
        //     display:none;
        // }

    //     .home__opacity{
    //         display:none;
    //     }

    //     // image de fond mobile
    //     .home__bg--image {
    //         background-image: url("/build/images/foret/home-sm.png");
    //         position: fixed;
    //         background-repeat: no-repeat;
    //         background-size: cover;
    //     } 
    //     // FIN BLOCK VIDEO

    // }


// @media screen and (max-width: 575px) {
//         min-height:90vh;

//         &__video-bg {
//             display:none;
//         }

//         &__opacity{
//             display:none;
//         }

//         // image de fond mobile
//         &__bg--image {
//             background: url('./build/images/foret/home-sm.png');
//             // position: fixed;
//             // background-repeat: no-repeat;
//             // background-size: cover;
//         } 
//     }
}


