.listMushrooms {
    @include titlePage();
    @include subtitlePage();

    &__card {
        position: relative;
        background: -webkit-gradient(linear, left top, right top, from(rgba(146, 163, 143, 0.7)), color-stop(50%, rgba(251, 251, 251, 0.9)), to(rgba(146, 163, 143, 0.7)));
        background: -o-linear-gradient(left, rgba(146, 163, 143, 0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(146, 163, 143, 0.7) 100%);
        background: linear-gradient(to right, rgba(146, 163, 143, 0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(146, 163, 143, 0.7) 100%);
        padding: .5em .5em 0 .5em;
        margin: 10px 0 10px 0;
        z-index: 100;
        border-radius: 3px;


        a {
            text-decoration: none;
        }

        &__eat {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            z-index: 200;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            font-weight: bold;
            font-size: .7em;

            &__img {
                max-height: 40px;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }
        }

        &__bloc-img {
            position: relative;
            overflow: hidden;
            border-radius: 3px;

            &__opacity {
                position: absolute;
                z-index: 150;
                width: 100%;
                height: 100%;
                -webkit-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }

            &__image {
                width: 100%;
                -webkit-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }
        }

        &__titre {
            height: 80px;

            h5 {
                font-size: 1.2em;
            }
        }

        &:hover {
            background: -webkit-gradient(linear, left top, right top, from(rgba(121, 136, 119, 0.7)), color-stop(50%, rgba(251, 251, 251, 0.9)), to(rgba(121, 136, 119, 0.9)));
            background: -o-linear-gradient(left, rgba(121, 136, 119, 0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(121, 136, 119, 0.9) 100%);
            background: linear-gradient(to right, rgba(121, 136, 119, 0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(121, 136, 119, 0.9) 100%);

            .listMushrooms {
                &__card {
                    &__bloc-img {
                        &__opacity {
                            background-color: rgba(0, 0, 0, 0.4);
                        }

                        &__image {
                            -webkit-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            transform: scale(1.2);
                        }
                    }

                    &__eat {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// modifie la largeur des marges droite et gauche
@media screen and (min-width: 1199px) {
    .listMushrooms {
        padding: 0 5% 0 5%;
    }
}