.login{
    padding:20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 500px;

    &__bg {
        &--image {
            @include bgImageForest("./../images/foret/foret-3.jpg");
        }
    }
}