.navbar {
    background-color: rgba(255, 255, 255,0.2);
    .search {
        max-width: 400px;
    }

    li {
        letter-spacing: 0.5px;
        font-weight: 700;
    }

    .noUnderline {
        text-decoration-line: none;
    }

    &__description--background {
        background-color: rgba(0, 0, 0, 0.2);
    }

}