.pagination li {
    margin: 0 1px 0 1px;
    
    // a:link {
    //     color:gray !important
    // }
    a:visited {
        color:#3f503e !important;
    }
    a:hover {
        color:#323a32 !important;
    }
    // a:focus {
    //     color:#0e3b01 !important
    // }
    // a:active {
    //     color:black !important
    // }
    
}