{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation{% endblock %}

{% block description %}réinitialiser votre mot de passe.{% endblock %}

{% block body %}
<article class="container my-5 p-3">
    <h1 class="h3 ft__family--poppins text-center">Récupération de mot de passe</h1>
    <h2 class="h4 ft__family--poppins mt-5">Vous venez de demander la réinitialisation de votre mot de passe</h2>
    <p class="ftsz-15 mt-4">
        Si un compte correspondant à votre e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p  class="ftsz-15">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
</div>
{% endblock %}
