{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation{% endblock %}

{% block description %}réinitialiser votre mot de passe.{% endblock %}

{% block body %}

    <div class="bgfullSize bg-image--forest"></div>
    <div class="bgfullSize bgColor--opacity--07"></div>

    <article>
    <section class="container py-5 my-5">
        <div class="row justify-content-center">
            {# <div class="col d-flex justify-content-center mb-2 border border-dark"> #}
                <div class="login rounded text-light">

                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    <h1 class="h3 ft__family--poppins text-center">Réinitialisez votre mot de passe</h1>
                    <hr>
                    {{ form_start(requestForm) }}
                        {{ form_row(requestForm.email) }}
                        <div>
                            <small>
                                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                            </small>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-outline-warning">M'envoyer un e-mail pour réinitialiser mon mot de passe</button>
                        </div>
                    {{ form_end(requestForm) }}
    </div>
        </div>
    </section>
</article>
{% endblock %}
