{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre compte{% endblock %}

{% block description %}Réinitialiser votre mot de passe.{% endblock %}

{% block body %}
<div class="bgfullSize bg-image--forest"></div>
<div class="bgfullSize bgColor--opacity--07"></div>

<article>
    <section class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="login rounded text-light">
                <h1 class="h3 ft__family--poppins text-center">Réinitialisez votre mot de passe</h1>
                <hr>
                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-outline-warning">Réinitialisez mon mot de passe</button>
                {{ form_end(resetForm) }}
             </div>
        </div>
    </section>
</article>
{% endblock %}
