
{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
   Identifier-vous ?
{% endblock %}

{% block description %}
    En vous identifiant sur le royaume des champignons vous pourrez partager, échanger avec d'autre passionné de mycologie.
{% endblock %}

{% block body %}

<div class="bgfullSize bg-image--forest"></div>
<div class="bgfullSize bgColor--opacity--07"></div>

<article>
    <section class="container py-5 my-5">
        <div class="row justify-content-center">
            {# <div class="col d-flex justify-content-center mb-2 border border-dark"> #}
                <div class="login rounded text-light">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h1 class="h3 ft__family--poppins text-center">Se connecter</h1>
                            <a href="{{ path('app_register') }}" class="h3 btn btn-outline-warning">S'inscrire</a>
                        </div>
                        <hr>
                        <div class="my-4">
                            <h2 class="h4 ft__family--poppins text-center">Veuillez vous identifier {{last_username}}</h2>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="_username" value="{{ last_username }}" required="required"/>
                        </div>
                        <div class="form-group mt-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="_password" required="required"/>
                        </div>
                        {# Génère un jeton Token faille CRSF #}
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                        {# If you want to control the URL the user is redirected to on success
                        <input type="hidden" name="_target_path" value="/account"/> #}

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <button class="btn btn-outline-warning mt-2" type="submit">
                                Connexion
                            </button>
                        <a href="{{path('app_forgot_password_request')}}" class="text-warning">Mot de passe oublié ?</a>
                        </div>
                    </form>
                {# </div> #}
            </div>
        </div>
    </section>
</article>

{% endblock %}