{% extends "base.html.twig" %}

{% block title %}
	{{ descriptionMushroom.commonname }}
	-
	{% if descriptionMushroom.edibility.name is defined 
    %}
		{{ descriptionMushroom.edibility.name }}
	{% endif %}
{% endblock %}

{% block description %}
	Découvrez les principales caractéristiques de
	{{ descriptionMushroom.commonname }}, sur le guide des champignons.
{% endblock %}


{% block body %}
	<div class="bgfullSize bg-image--forest"></div>
	<div class="bgfullSize bgColor--filterBlack"></div>

	<article class="container">
		<div class="row bgColor--whiteLight py-3 m-md-3 rounded descriptionMushroom">
			<div id="loupe"></div>
			{# Carousel #}
			<div class="col-12 col-md-6 order-md-3 col-lg-6 order-lg-3 col-xl-5 order-xl-3 p-3 mb-3 descriptionMushroom__photo">
				{% if descriptionMushroom.medias is empty %}
					<div id="carouselExampleIndicators" class="carousel slide carousel-fade descriptionMushroom__img" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 1"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{{ asset('/build/images/icones/default.png') }}" class="d-block w-100" alt="Image par defaut">
							</div>
						</div>
					</div>
				{% else %}
					<div id="carouselExampleIndicators" class="carousel slide carousel-fade descriptionMushroom__img " data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for key in descriptionMushroom.medias|keys %}
								{% if key == 0 %}
									<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{key}}" class="active" aria-current="true" aria-label="Slide {{key}}"></button>
								{% else %}
									<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{key}}" aria-label="Slide " {{key}} ""></button>
								{% endif %}
							{% endfor %}
						</div>

						<div class="carousel-inner">
							{% for key in descriptionMushroom.medias|keys %}
								{% if key == 0 %}
									<div class="carousel-item active" id="conteneur_image">
										<img src="{{ asset('/upload/mushrooms/' ~ descriptionMushroom.medias[key].path) }}" class="d-block w-100" alt="{{ descriptionMushroom.medias[key].path }}" zoom="2"/>
									</div>
								{% else %}
									<div class="carousel-item" id="conteneur_image">
										<img src="{{ asset('/upload/mushrooms/' ~ descriptionMushroom.medias[key].path) }}" class="d-block w-100" alt="{{ descriptionMushroom.medias[key].path }}" zoom="2"/>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				{% endif %}
			</div>
			{# Titre #}
			<div class="col-12 col-md-12 order-md-1 col-lg-6 order-lg-2 col-xl-7 order-xl-2 mt-1 p-3 text-center fiche__header">
				<h1 class="text-light txtShadow--dark">{{ descriptionMushroom.commonname }}</h1>
				<h2 class="descriptionMushroom__header__letter text-uppercase txtShadow--dark">{{ descriptionMushroom.latinname }}</h2>
			</div>
			{# Comestibilité #}
			<div class="col-12 col-md-12 order-md-2 col-lg-6 order-lg-1 col-xl-5 order-xl-1 mt-2 d-flex justify-content-center align-items-end descriptionMushroom__eat">
				<div class="text-center font-weight-bold text-light txtShadow--dark">
					{% if descriptionMushroom.edibility.path is defined %}
						<img src="{{ asset('/build/images/edibility/' ~ descriptionMushroom.edibility.path) }}" alt="?">
						<p>{{descriptionMushroom.edibility.name}}</p>
					{% endif %}
				</div>
			</div>
			{# Descriptif #}
			<div class="col-12 col-md-6 order-md-4 col-lg-6 order-lg-4 col-xl-7 order-xl-4 px-3 px-md-4 py-3 p-lg-5  descriptionMushroom__description">
				{% if descriptionMushroom.localname is not empty %}
					<p>
						<span>Nom local</span><br>
						{% for localName in descriptionMushroom.localname %}
							{{ localName.name }}
						{% endfor %}
					</p>
				{% endif %}
				{% if descriptionMushroom.hat %}
					<p>
						<span>Chapeau</span><br>
						{{ descriptionMushroom.hat }}</p>
				{% endif  %}
				{% if descriptionMushroom.lamella %}
					<div class="d-block">
						{% if descriptionMushroom.lamellatype|length > 0 %}
							<img src="{{ asset('/build/images/lamella/' ~ descriptionMushroom.lamellatype.path) }}" class="float-right" alt="?" width="50">
						{% endif  %}
						<p>
							<span>Hyménium</span>
							(Lames - Tubes - Plis - Aiguillons - Pores)<br>
							{{ descriptionMushroom.lamella }}
						</p>
					</div>
				{% endif  %}
				{% if descriptionMushroom.foot %}
					<p>
						<span>Pied</span><br>
						{{ descriptionMushroom.foot }}</p>
				{% endif  %}
				{% if descriptionMushroom.flesh %}
					<p>
						<span>Chair</span><br>
						{{ descriptionMushroom.flesh }}</p>
				{% endif  %}
				{% if descriptionMushroom.habitat %}
					<p>
						<span>Habitat</span><br>
						{{ descriptionMushroom.habitat }}</p>
				{% endif  %}
				{% if descriptionMushroom.comment %}
					<p>
						<span>Remarques</span><br>
						{{ descriptionMushroom.comment }}</p>
				{% endif  %}
			</div>
		</div>
	</article>

{% endblock %}

{% block javascripts %}
	<script language="JavaScript" type="text/javascript">
		/*
        Pour définir les images necessitant un effet zoom,
            Ajout cette balise au début du code HTML dans la balise body <div id="loupe"></div>
            Puis on ajoute dans la balise image un attribut ID de valeur unique commencant par 'imgResize' et le facteur de grossissement 'zoom'.
            Exemple : <img src="./myPicture.JPG" alt="n°26" id="imgResize-0" zoom="2" />
        */

        function styleLoupe(width, height, borderSize) {
            loupe.style.zIndex = "2";
            loupe.style.display = "none";
            loupe.style.width = width + "px";
            loupe.style.height = height + "px";
            loupe.style.position = "absolute";
            loupe.style.backgroundRepeat = "no-repeat";
            loupe.style.border = `solid ${borderSize}px #fff`;
            loupe.style.borderRadius = "200px";
            loupe.style.boxShadow = "0 0 50px rgba(0,0,0,0.6)";
            loupe.style.filter = "brightness(1.1)";
        }

        function mousePosition(e) {
            // Position de la souris avec prise en compte du scrolling
            // Equivaut à e.pageX et e.pageY
            let scroll_x = document.body.scrollLeft || document.documentElement.scrollLeft;
            let scroll_y = document.body.scrollTop || document.documentElement.scrollTop;
            return {
                mouse_X: e.clientX + scroll_x,
                mouse_Y: e.clientY + scroll_y
            }
        }

        function imagePosition(elt) {
            return {
                left: elt.offsetLeft,
                right: elt.offsetLeft + elt.offsetWidth,
                top: elt.offsetTop,
                bottom: elt.offsetTop + elt.offsetHeight
            }
        }

        function zoomImage(e) {
            /* Récupère l'ID' de l'élément survolé par le curseur si ce n'est pas la loupe 
                En effet une fois l'image détecté la loupe s'affiche avec le curseur de la souris en son centre.
                Il devient donc impossible de détecter si le curseur sort de l'image
                Donc on garde en mémoire l'id de l'image, 
                puis on définit les bordures de l'image, 
                si la position du curseur sort des limites de l'image on efface la loupe.
                Ainsi au prochain déplcement du curseur de la souris on récupère a nouveau l'id d'une image sur laquel on souhaite effectuer un zoom.
            */

        let containerImg = document.getElementById("carouselExampleIndicators");
        // Definit la position des bordures top, left, right, bottom de l'image
        let positionsContainerImg = imagePosition(containerImg);

        // Si le curseur de la souris se retrouve sur l'image
        if (e.pageX >= positionsContainerImg.left && e.pageX <= positionsContainerImg.right && e.pageY >= positionsContainerImg.top && e.pageY <= positionsContainerImg.bottom) {
            // Affiche la loupe
            loupe.style.display = "block";
            // Masque le curseur de la souris
            document.body.style.cursor = "none";

            // POSITIONNE LA LOUPE
            // Le centre de la loupe doit parfaitement correspondre avec les coordonnées de la souris.
            loupe.style.left = e.pageX - loupe.offsetWidth / 2  + "px";
            loupe.style.top = e.pageY - loupe.offsetHeight / 2  + "px";

            let arrayImg = containerImg.getElementsByTagName("img");
            // recherche l'img actuellement afficher dans le carousel avec la class="active")
            let pathImg;
            for (let i = 0; i < arrayImg.length; i++) {             
                if(arrayImg[i].parentNode.getAttribute("class").indexOf("active") !== -1) {
                    pathImg =  arrayImg[i].getAttribute("src");
                }
            }

            // l'image est inséré dans la loupe en arrière plan
            loupe.style.backgroundImage = `url(${pathImg})`;
            
            // DEFINIR LE ZOOM
            let zoom = 2;

            // //  TAILLE DE L IMAGE D ARRIERE PLAN (Agrandissement de l'image en fonction du coef de zoom et de les dimensions de l'image sur la page)
            loupe.style.backgroundSize=(containerImg.offsetWidth * zoom) + "px";

            // // POSITION DE L IMAGE D ARRIERE PLAN
            // // Calcul des coordonnées du curseur par rapport à l'image.
            let img_X = e.pageX - containerImg.offsetLeft;
            let img_Y = e.pageY - containerImg.offsetTop;

            // // Positionne l' image
            // // Coordonnées du curseur par rapport à l'image X le coefficient de zoom + Rectifie le décalage
            loupe.style.backgroundPosition = (- img_X * zoom + loupe.offsetWidth / 2 - loupeBorderSize )+ "px " + (- img_Y * zoom + loupe.offsetHeight / 2 - loupeBorderSize)+"px";
        } else {
            // Si le curseur de la souris sort des limites de l'image on supprime la loupe
            // Masque la loupe
            loupe.style.display = "none";
            // Affiche le curseur de souris
            document.body.style.cursor = "auto";
            // Met fin à l'exécution de la function
            return;
        }
    }


        /* 
        ---------------------------------------------------------------------------------
        // APRES LE CHARGEMENT COMPLET DE LA PAGE (execution du JS après le chargement de la page car la balise script est placé en fin body)
        ---------------------------------------------------------------------------------
        */
       let carouselControlPrev = document.querySelector('button.carousel-control-prev')
       carouselControlPrev.style.zIndex="2";

       let carouselControlNext = document.querySelector('button.carousel-control-next')
       carouselControlNext.style.zIndex="2"; 


        let loupe = document.querySelector('#loupe');

        // Défini le design de la loupe (hauteur, largeur, épaisseur de la bordure)
        let loupeWidth = 300, loupeHeight = 300, loupeBorderSize = 5;
        styleLoupe(loupeWidth, loupeHeight, loupeBorderSize); 

        // Affiche la loupe sur une image lors du déplacement du curseur de la souris.
        document.addEventListener('mousemove', zoomImage);

        // lors du scroll la loupe est effacée.
        document.addEventListener('scroll', (event) => {
           loupe.style.display = "none";
           document.body.style.cursor = "auto";
        });
    </script>
{% endblock %}


