{% extends "base.html.twig" %}

{% block title %}
	Guide des champignons - apprendre à reconnaitre les champignons comestibles
{% endblock %}

{% block description %}
    Liste évolutive de champignons, photos de champignons, caractéristiques.
{% endblock %}


{% block stylesheets %}{% endblock %}

{% block seachForm %}
    <div class="d-flex search px-3 py-2 col-12 col-lg-auto me-lg-auto">
        {{form(searchMushroomForm)}}
        
    </div>
{% endblock %} 

{% block body %}
<div class="bgfullSize bg-image--forest"></div>
<div class="bgfullSize bgColor--filterBlack"></div>

<article class="container listMushrooms">
    <div class="row">
        <header class="col text-light text-center">
            <h1 class="pt-3">Guide des champignons</h1>
            <p>Découvrez les espèces les plus communes de nos bois. Des descriptions concises. Formes, habitat, odeur..., suivez le guide des champignons.</p>   
        </header>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-8">
            {% for mushroom in listMushroomsPaginator %}    
            <section class="col d-flex justify-content-center">
                <div class="listMushrooms__card box-shadow-down">
                    <a href="{{ path('app_mushroom_detail',{'slug': mushroom.slug}) }}">
                        {% if mushroom.edibility|length > 0 %}
                        <div class="listMushrooms__card__eat d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <img class="listMushrooms__card__eat__img" src="{{ asset('/build/images/edibility/' ~ mushroom.edibility.path) }}" alt="?">
                                <p class="text-light">{{mushroom.edibility.name}}</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="listMushrooms__card__bloc-img">
                            <div class="listMushrooms__card__bloc-img__opacity"></div>
                            {% if mushroom.medias|length > 0 %}
                                <img class="listMushrooms__card__bloc-img__image" src="{{ asset('/upload/mushrooms/' ~ mushroom.medias[0].path) }}" alt="{{mushroom.commonname}}">
                            {% else %}
                                <img class="listMushrooms__card__bloc-img__image" src="{{ asset('/build/images/icones/default.png') }}" alt="{{mushroom.commonname}}">
                            {% endif %}
                        </div>
                        <div class="listMushrooms__card__titre d-flex flex-row justify-content-center align-items-center">
                            <h5 class="text-greenDark txtShadow--white text-center">{{mushroom.commonname}}</h5>
                        </div>
                    </a>
                </div>
            </section>
            {% endfor %}
    </div>
    <div class="my-4">
     {{ knp_pagination_render(listMushroomsPaginator) }}
    </div>
</article>

{% endblock %}

{% block javascripts %}

{% endblock %}
