{% extends 'base.html.twig' %}


{% block title %}
    Contactez nous !
{% endblock %}

{% block description %}
     
{% endblock %}


{% block body %}
<div class="container contact">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-8 rounded">
            <h1 class="h3 text-center my-5">Formulaire de contact</h1>
            {{form(formContact)}}
        </div>
    </div>
</div>
{% endblock %}
