{# {% apply inline_css(source('@styles/app.css')) %} #}
    
    {# <img src="{{ email.image('@images/logo.png') }}" alt="Logo"> #}
    <h1 class="text-center">Formulaire de contact</h1>
    <p>
        <span class="fw-bold">
            Date d'envoi du formulaire : 
        </span>
            {{sending_date|format_datetime('full', 'short', timezone ='Europe/Paris', locale='fr')}}
    </p>
    <p>
        <span class="fw-bold">
            Envoyé par : 
        </span>
        {{firstname}} {{lastname}}
    </p>
    <p>
        <span class="fw-bold">
            Coordonnées téléphonique : 
        </span>
        {{phone}}
    </p>
    <p>
        <span class="fw-bold">
            Message : 
        </span>
        {{message|nl2br}}
    </p>

{# {% endapply %} #}