.cookiesManager__box .ftsz-10 {
    font-size: 1em;
}

.cookiesManager__box .ftsz-9 {
    font-size: .9em;
}

.cookiesManager__box .ftsz-8 {
    font-size: .8em;
}

.cookiesManager__box {
    box-shadow: 2px 3px 10px black;
    display: none;
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1050;
    width: 400px;
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    overflow: hidden;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.cookiesManager__box svg {
    position: absolute;
    z-index: -1;
    top: 2px;
    right: 5px;
}

.cookiesManager__box .title {
    padding-top: .3rem;
}

.cookiesManager__box .subtitle {
    padding-top: .7rem;
    font-weight: bold;
}

.cookiesManager__box .comments {
    padding-top: .7rem;
    text-align: justify;
}

.cookiesManager__box .boxButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: .7rem;
}

.cookiesManager__box .contentCookies {
    border: 1px solid rgb(46, 42, 42);
    padding: .5rem;
    margin-bottom: 1.2rem;
    overflow-y: scroll;
    max-height: 170px;
}

.cookiesManager__box .mentions {
    font-weight: bold;
}

.cookiesManager__box .copyright {
    margin-top: .8rem;
}

.cookiesManager__box .txt-color--raspberry {
    color: rgb(197, 29, 74);
}

.cookiesManager__box .txt-color--orange {
    color: rgb(251, 117, 36);
}

@media screen and (max-width:575px) {
    .cookiesManager__box{
        width: 100%;
        left: 0;
        bottom: 0;
    }
}