{% import "components/videoBoxLinkUrlComponents.html.twig" as component %}

<footer class="container-fluid bg-dark text-light px-4 footer" id="footer">
    <div class="row">
        <div class="col-12 text-center p-4 border-secondary border-bottom">
            <h6><a href="#anchor" class="footer__debutPage ftsz-14">Début de page</a></h6>
        </div>
         <div class="col-12 p-4 border-secondary border-bottom">
            <h4 class="text-center">MISE EN GARDE</h4>
            <p class="text-center px-4">
                {# Ce site, malgré tout le soin apporté à sa réalisation, ne peut pas vous garantir l’identification formelle des champignons. #}
                Ce site, ne peut pas vous apprendre à reconnaître de manière sûre les champignons.<br> Nous nous dégageons de toute responsabilité quand à la mauvaise interprétation des informations y figurant et nous vous conseillons de vérifier les informations auprès d'un professionnel
            </p>
        </div>
    </div>
    <div class="row">
        <section class="col-12 col-md-4 col-lg-4 col-xl-4 p-4 order-2 order-md-1 border-secondary border-bottom">
            <div class="row">
                <h4 class="text-center">A propos</h4>
                <div class="col-12 pt-3">
                    <p>
                        <span class="fw-bold">Développeur</span>: Lanza Eric <br>
                    </p>
                    <p>
                        Ce site a été développé avec Symfony 5.3.9, webPack
                    </p>
                </div>
                <div class="col-12 d-flex flex-wrap justify-content-start footer__langIcon border-secondary border-bottom pb-3">
                    <a href="https://symfony.com" target="__blank"><img src="{{ asset("/build/images/icones/stackTech/symfony.png") }}" alt="GitHub"></a>
                    <a href="https://symfony.com/doc/current/frontend.html" target="__blank"><img src="{{ asset("/build/images/icones/stackTech/webpack.png") }}" alt="Webpack"></a>
                    <a href="https://sass-lang.com/" target="__blank"><img src="{{ asset("/build/images/icones/stackTech/sass.png") }}" alt="SASS"></a>
                    <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="__blank"><img src="{{ asset("/build/images/icones/stackTech/js.png") }}" alt="JavaScript"></a>
                </div>
                <div class="col-12 text-center py-3">
                     <p>
                        <a class="ftsz-15 footer__contact" href="{{path('sendMail')}}">Nous contacter</a>
                     </p>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-5 col-lg-5 col-xl-4 p-4 order-1 order-md-2 border-secondary border-bottom d-flex flex-column align-items-center">
            <h4>Navigation</h4>
            <ul>
                <hr class="bg-secondary">
                <h5 class="text-secondary fw-bold ftsz-10">Le royaume des champignons</h5>
                <li>
                    <a class="{{ isActive(controller_name,'MushroomsController') }}" href=" {{ path('app_mushrooms') }} ">Guide des champignons</a>
                </li>
				<li class="{{ isActive(controller_name,'Discussion') }}">
                    <a href="{{ path('forum_subjects') }}">Discussion
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
				<li class="{{ isActive(controller_name,'Actualités') }}">
                    <a href="#">Actualités
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if app.user %}
                    <hr class="bg-secondary">
                    <h5 class="text-secondary fw-bold ftsz-10">Accès membre</h5>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href=" {{path('admin')}} ">Back office</a></li>
                    {% endif %}
                    <li><a class="{{isActive(controller_name,'profil')}}" href="{{path('current_user')}}">Modifer mon profil</a></li>
                    <li><a href="{{path('app_logout')}}">Me déconnecter</a></li>
                {% else %}
                    <li><a class="{{isActive(controller_name,'register')}}" href="{{path('app_register')}}">S'incrire</a></li>
                    <li><a class="{{isActive(controller_name,'login')}}" href="{{path('login')}}">Se connecter</a></li>
                {% endif %}
                <hr class="bg-secondary">
                <li><a href="{{path('mentions_legales')}}">Mentions légales</a></li>
                <li><a class="{{isActive(controller_name,'cookies')}}" href="#" id="showBoxCookiesManager">Cookies</a></li>
            </ul>
        </section>
        <section class="col-12 col-md-3 col-lg-3 col-xl-4 p-4 order-3 order-md-3">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center mb-3">Découvrir mes autres sites</h4>
                </div>
                <aside class="col-6 col-sm-4 col-md-12 col-xl-6 d-flex flex-column align-items-center">
                    {{ component.boxVideoLinkUrl(
                        "/build/images/icones/Screenshot_Meteo.png",
                        "/build/videos/raspBot.mp4",
                        "https://ricou12.github.io/Robotique/",
                        "Un projet robotique créé avec un Raspberry Pi et arduino ."
                    ) }}
                </aside>
                <aside class="col-6 col-sm-4 col-md-12 col-xl-6 d-flex flex-column align-items-center">
                    {{ component.boxVideoLinkUrl(
                        "/build/images/icones/Screenshot_Meteo.png",
                        "/build/videos/meteo.mp4",
                        "https://ricou12.github.io/meteo-webService/",
                        "Application météo Javascript uitlisant une API."
                    ) }}
                </aside>
                <aside class="col-6 col-sm-4 col-md-12 col-xl-6 d-flex flex-column align-items-center">
                    {{ component.boxVideoLinkUrl(
                        "/build/images/icones/Screenshot_Meteo.png",
                        "/build/videos/pictureBox.mp4",
                        "https://ricou12.github.io/PictureBox-BOOTSTRAP-JS/",
                        "Premier pas avec HTML, CSS, Javascript."
                    ) }}
                </aside>
                <aside class="footer__copyright ftsz-8">
                    <a href="http://copyright.be" target="_blank" >Copyright © 2020 le royaume des champignons - Tous droits réservés</a>
                </aside>
            </div>
        </section>
    </div>
</footer>
