<!DOCTYPE html>
<html lang="fr">
    <head>
        {# Indiquer aux user agents l’encodage du document HTML  #}
        <meta charset="UTF-8">

        {# Contrôler la mise en page sur les navigateurs mobiles #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# ----------------- HTML Meta Tags ----------------- #}
        <meta name="author" content="Eric Lanza"/>
        <meta name="copyright" content="copyright2020©Lanza"/>
        {# Icon pour enjoliver la page #}
        <link rel="icon" type="image/png" href="{{ asset('build/images/icones/mushromLogo.png') }}"/>
        {# Titre et description de la page #}
        <title>{{ block('title') ~ ' - Le royaume des champignons' }}</title>
        <meta name="description" content="{{ block('description') }}"/>

        {# ----------------- Facebook Meta Tags ----------------- #}
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:locale" content="fr_FR"/>
        <meta property="og:title" content="{{ block('title') ~ ' - Le royaume des champignons' }}"/>
        <meta property="og:description" content="{{ block('description') }}"/>
        <meta property="og:image" content="{{ asset('build/videos/videoOg.gif') }}"/>
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="170" />

        {# ----------------- Twitter Meta Tags ----------------- #}
        <meta property="twitter:url" content="{{ app.request.uri }}"/>
        <meta property="twitter:domain" content="https://royaumechampignons.ddns.net/"/>
        {# Doit être défini sur une valeur de "summary_large_image"  #}
        <meta name="twitter:card" content="summary_large_image">
        {# Le Twitter @username auquel la carte doit être attribuée.  #}
        <meta name="twitter:site" content="@nytimes"/>
        {# @username pour le créateur/auteur du contenu. #}
        <meta name="twitter:creator" content="@EricLanza"/>
        {# Un titre concis pour le contenu connexe. peut-être défini par og:title  #}
        <meta name="twitter:title" content="{{ block('title') }} - Le royaume des champignons"/>
        {# Une description qui résume de manière concise le contenu approprié pour la présentation dans un Tweet. #}
        <meta name="twitter:description" content="{{ block('description') }}"/>
        <meta name="twitter:image" content="{{ asset('build/videos/videoOg.gif') }}">
        {# Une description textuelle de l'image transmettant la nature essentielle d'une image aux utilisateurs malvoyants. Maximum 420 caractères.  #}
        <meta name="twitter:image:alt" content="Une animation montrant la croissance de champignons en accéléré."/>

        {# Chargement du CSS par webPack #}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('cookieManager') }}
       
        {% block stylesheets %}{% endblock %}

    </head>

    <body>
        <article class="d-flex flex-column baseMinHeight">
            {# {% block navbar %} #}
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="anchor">
                    <div class="container-fluid">
                        {# Logo + link #}
                        <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('/build/images/icones/mushromLogo.png') }}"
                                height="45" alt=""></a>
                        {# Titre #}
                        {# <h3 class="text-light font-weight-bold txtShadow--dark m-0 {% if vars is defined %} d-lg-none {% else %} d-md-none {% endif %}">{{title}}</h3> #}
                        {# button for collaspsed the navbar #}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {# <li class="nav-item">
                                    <a class="nav-link {{ isActive(title,'Home') }} bg-my" aria-current="page" href="{{ path('app_home') }}">Portail</a>
                                </li> #}
                                <li class="nav-item text-nowrap">
                                    <a class="nav-link {{ isActive(controller_name,'MushroomsController') }}" href="{{path('app_mushrooms')}}">Guide des champignons</a>
                                </li>
                                <li class="nav-item {{ isActive(controller_name,'Discussion') }}">
                                    <a class="nav-link {{ isActive(controller_name,'ForumController') }}" href="{{ path('forum_subjects') }}">Discussion<span class="sr-only">(current)</span></a>
                                </li>
                                {# <li class="nav-item {{ isActive(controller_name,'Actualités') }}">
                                    <a class="nav-link" href="#">Actualités<span class="sr-only">(current)</span></a>
                                </li> #}
                            </ul>
                            <div class="d-flex flex-wrap flex-lg-nowrap">
                               {% block seachForm %} {% endblock %}
                                {% if app.user %}
                                    <div class="dropdown col-12 col-lg-auto">
                                        <a class="noUnderline text-light dropdown-toggle px-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            {% if app.user.avatarFilename %}
                                                <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="Avatar" height="50" class="rounded mr-4"/>
                                            {% else %}
                                                {# imageConnect in config file twig.yaml do reference a environment variable of config file services.yaml  #}
                                                <img src="{{ asset(iconUserDefault) }}" alt="Avatar" height="50" class="mr-3">
                                            {% endif %}
                                            {{app.user.pseudo}}
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
                                            <h6 class="dropdown-header">Connecté en tant que</h6>
                                            <li><p class="px-2 ftsz-9 text-center text-secondary">{{app.user.username}}</p></li>
                                            {# <li><hr class="dropdown-divider"></li> #}
                                            {# <a class="dropdown-item" href="">Espace personnel</a> #}
                                            <li><hr class="dropdown-divider"></li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <li><a class="dropdown-item ftsz-9" href="{{path('admin')}}">Back office admin</a></li>
                                                 <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                            {% if is_granted('ROLE_USER') %}
                                                <li><a class="dropdown-item ftsz-9" href="{{path('app_currentUser_profil')}}">Espace personnel</a></li>
                                            {% endif %}
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item ftsz-9 fw-bold" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                        </ul>
                                    </div>
                                {%  else %}
                                    <a href="{{path('login')}}">
                                        <img src="{{ asset('/build/images/icones/connexion.png') }}" alt="Avatar" height="50">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            {# {% endblock %} #}

            <main class=" flex-grow-1">
                {% block body %}{% endblock %}
            </main>

            {% block footer %}
                <footer>
                    {% include '_footer.html.twig'%}
                </footer>
            {% endblock %} 
        </article>

        {# Gestion des consentements #}
        <section class="cookiesManager__box text-light" id="cookie-root"></section>

        {# Webpack import javascript #}
        {{ encore_entry_script_tags('app') }} 
        {{ encore_entry_script_tags('cookieManager') }} 
        
        {% block javascripts %}{% endblock %}

    </body>

</html>