{# Composant reutilisable #}

{% macro boxVideoLinkUrl(path_image, path_video, url_link, commentaire ) %}
    <div class="boxVideoLinkURL">
        <video autoplay loop muted poster="{{ asset(path_image) }}">
            <source src="{{ asset(path_video) }}" type="video/mp4">
            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.Mais vous pouvez
                toujours
                <a href="{{ asset(path_video) }}">la télécharger</a> !
            </p>
        </video>
        <div class="boxVideoLinkURL__link">
            <a href="{{ url_link }}" target="__blank" class="boxVideoLinkURL__play_button_max"></a>
        </div>
    </div>
    <p class="text-secondary">{{ commentaire }}</p>
{% endmacro %}