<!-- Button trigger modal -->
<button type="button" class="btn text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Supprimer définitvement mon compte
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ path('app_currentUser_deleteUser') }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Supprimer mon compte  {{ app.user.username }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
          <input type="hidden" name="token" value="{{ csrf_token('delete-user') }}"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Suppression définitive du compte</button>
        </div>
      </form>
    </div>
  </div>
</div>

