{% extends 'current_user/sideNav.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block rightPanel %}
    {% if app.user %}
        <div class="container-fluid container-lg bgColor--whiteLight rounded px-3 currentUser">
            <header class="row border-bottom pb-5">
                <h1 class="text-center">Changer de mot de passe</h1>
            </header>
            <div class="mt-3">
                <h2 class="h4 py-3">{{ app.user.pseudo }}, vous pouvez réinitialisez votre mot de passe</h2>
                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-success">Réinitialisez mon mot de passe</button>
                {{ form_end(resetForm) }}
             </div>
        </div>
    {% endif %}
{% endblock %}