{% extends 'current_user/sideNav.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block rightPanel %}
    {% if app.user %}
        <div class="container-fluid container-lg bgColor--whiteLight rounded px-3 currentUser">
            <header class="row border-bottom">
                <h1 class="text-center">Modifier mon profil</h1>
                <p class="text-nowrap mt-5"><span class="fw-bold">Date d'inscription :</span>
                    {{app.user.createdAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr')}}
                </p>
            </header>
           
            {{form_start(userForm)}}
                <div class="row mt-5">
                    <div class="col-auto p-4 text-center">
                        {{ form_row(userForm.avatarFile) }}
                    </div>
                    <div class="col-auto border rounded shadow p-4">
                        {{ form_row(userForm.lastname) }}
                        {{ form_row(userForm.firstname) }}
                        {{ form_row(userForm.pseudo) }}
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">Email</label>
                            <input type="email" class="form-control" id="email" value="{{app.user.email}}" placeholder="name@example.com" disabled>
                        </div>
                        {{ form_row(userForm.save) }}
                    </div>
                </div>
            {{form_end(userForm)}}
        </div>
    {% endif %}
{% endblock %}