{% extends 'current_user/sideNav.html.twig' %}

{% block page_title app.user.email %}

{% block rightPanel  %}
    <div class="container-fluid container-lg currentUser">
        <header class="row border-bottom pb-5">
            <h1 class="text-center">Commentaires ajoutés sur le forum</h1>
        </header>
        
        <div class="row pt-3">
             {% for comment in commentsPagination %}
                <div class="border-bottom border-secondary bg-dark text-light">
                    <p class="text-center p-3">Publier par {{comment.forumSubject.userPseudo}}
                        le {{ comment.forumSubject.createdAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr') }}
                    </p>
                    <p>Titre: {{comment.forumSubject.title}}</p>
                </div>
                <div class="border shadow">
                    <p class="fw-bold">Vous avez répondu {{ comment.createdAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr') }}</p>
                    <p>{{ comment.commentary | raw  }}</p>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(commentsPagination) }}
    </div>
{% endblock %}