{% extends 'current_user/sideNav.html.twig' %}

{% block page_title app.user.email %}

{% block rightPanel  %}
    <div class="container-fluid container-lg px-3 currentUser">
        <header class="row border-bottom pb-5">
            <h1 class="text-center">Questions posées sur le forum</h1>
        </header>
        <div class="row pt-3">
             {% for subject in subjectsPagination %}
                <div class="border-bottom border-secondary bg-dark text-light">
                    <p class="text-center p-3">
                        Publier {{ subject.createdAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr') }}
                    </p>
                    <p>{{subject.title}}</p>
                </div>
                <div class="border shadow">
                    <p>{{ subject.description | raw  }}</p>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(subjectsPagination) }}
    </div>
{% endblock %}