{% extends 'current_user/sideNav.html.twig' %}

{% block page_title app.user.email %}

{% block rightPanel  %}
    <div class="container-fluid container-lg bgColor--whiteLight px-3 currentUser">
        <header class="row border-bottom">
            <h1 class="text-center">Mon profil</h1>
            <p class="text-nowrap mt-5"> 
                <span class="fw-bold">Date d'inscription :</span>
                {{app.user.createdAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr')}}
            </p>
        </header>
        <div class="row pt-3">
            <div class="col flex-grow-0">
                <h3 class="mt-2 mt-sm-0 fw-bold">{{app.user.pseudo}}</h3>
                {% if app.user.avatarFilename %}
                    <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="Avatar" width="200"/>
                {% else %}
                    {# imageConnect in config file twig.yaml do reference a environment variable of config file services.yaml  #}
                    <img src="{{ asset(iconUserDefault) }}" alt="Avatar"  class="">
                {% endif %}
                <div class="text-nowrap">
                    <div class="col">
                        <label class="mt-4 fw-bold text-nowrap">Dernière modification</label> 
                        <p>{{app.user.updatedAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr')}}</p>
                    </div>
                </div>
            </div>
            <div class="col flex-grow-1 mt-sm-5">
                {% if app.user.lastname is not null  %}
                    <span class="mt-5 mt-sm-0 fw-bold">Nom</span>
                    <p>{{app.user.lastname}}</p>
                {% endif %}
                {% if app.user.firstname is not null  %}
                    <span class="mt-2 mt-sm-0 fw-bold">Prénom</span>
                    <p>{{app.user.firstname}}</p>
                {% endif %}
                <span class="mt-2 fw-bold">Email</span>
                <p>{{app.user.email}}</p>
            </div>
        </div>
    </div>
{% endblock %}