{% extends 'base.html.twig' %}


{% block body %}
    <div class="sideNav">
        <div class="wrapper">
            {# Sidebar Holder #}
            <nav id="sidebar">
                {# header sideBar #}
                <div class="sidebar-header">
                    <h3 class="animate__animated animate__wobble">Espace personnel</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="{{ path('app_currentUser_profil') }}">Voir mon profil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_currentUser_updatedProfil') }}">Modifier mes données personnelles</a>
                    </li>
                    <li>
                        <a href="{{ path('app_currentUser_changePassword') }}">Changer de mot de passe</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Forum</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="{{ path('app_currentUser_forumTopics') }}">Mes questions</a>
                            </li>
                            <li>
                                <a href="{{ path('app_currentUser_forumComments') }}">Mes commentaires</a>
                            </li>
                        </ul>
                    </li>
                    <hr>
                    {# <li>
                        {% include 'current_user/_deleteUser.html.twig' %}
                    </li> #}
                </ul>
            </nav>
            {# <!-- Page Content Holder --> #}
            <div id="content">
                <div class="py-3">
                    <button type="button" id="sidebarCollapse" class="collapsed-btn" data-toggle="tooltip"
                        data-placement="top" title="Réduire / afficher la navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                
                <div id="main">
                    {% block rightPanel %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# jQuery CDN - Slim version (=without AJAX) #}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    {# Collapse SlideBar #}
    <script type="text/javascript">
        $(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
{% endblock %}