{% extends 'base.html.twig' %}

{% block title %}
    Mentions légales - Le royaume des champignons
{% endblock %}

{% block description %}
    Retrouvez notre politiques de confidentialité, respectueuse de vos données personnelles.
{% endblock %}

{% block body %}
<article class="bg-light text-dark">
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 text-justify">
                <h1 class="font-weight-bold txt-color--raspberry">
                    Mentions légales
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-justify">
                    <p>
                        Retrouvez notre politique concernant l'utilisation des données personnelles que nous faisons. Cela concerne les cookies déposés par nos soins et nos partenaires sur votre navigateur, notre base d'abonnés à la lettre d'information, les notifications et le forum.
                    </p>
                    <p>{{title}} s'engage dans le respect de vos données personnelles. Pour être totalement transparent avec vous, nous avons quel usage est fait de vos données. Cette page a vocation à évoluer... </p>

                <section>
                    <h2 class="txt-color--raspberry">Quelles sont nos obligations ?</h2>
                    <p>Les principales obligations du RGPD (Règlement Général sur la Protection des Données) sont : </p>
                    <ul>
                        <li>La gestion des données personnelles doit se faire avec votre approbation</li>
                        <li>Vous devez pouvoir contrôler vos données : droit de rectification et droit à l'oubli. </li>
                        <li>La collecte de vos données doit se faire en fonction de nos besoins réels et répondre à ceux-ci uniquement. Des procédures de suppression des données anciennes et de sécurité doivent être mises en place pour limiter la conservation et préserver l'intégrité et la confidentialité.</li>
                    </ul>
                    <p>Ces obligations du RGPD suppose que nous connaissions à tout moment les données dont nous disposons, leur localisation, l'objectif de leur collecte et leur mode de gestion, de stockage, de sécurisation, de transfert et d'effacement. Par ailleurs, nous devons être en mesure de déceler si leur intégrité a été compromise et y remédier promptement, tout en consignant et notifiant l'événement.</p>
                </section>

                <section>
                    <h2 class="txt-color--raspberry">Respect de la RGPD</h2>
                    <p>Lors de votre premier accès au site une fenêtre s'ouvre pour vous demander une autorisation à
                        l'utilisation
                        de vos données personnelles. Il vous est possible à tout moment de revenir sur vos choix. </p>

                    <h2 class="txt-color--raspberry">Notre hébergement</h2>
                    <p>{{title}} est hébergé sur 000webhost. Les accès sont tous sécurisés en SSL comme vous
                        pouvez le constater sur votre navigateur sous forme de petit cadenas. Aucun compromis sur la sécurité, les logiciels embarqués sont mis à jour et nous disposons des dernières versions.</p>
                </section>
                
                <section>
                    <h2 class="txt-color--raspberry">Les cookies</h2>
                    <p>Ces informations sont utiles pour analyser le comportement de nos visiteurs pour mieux personnaliser
                        les
                        services, contenus, offres et bannières qui apparaissent sur notre site et faciliter votre
                        navigation.
                        Les
                        cookies sont aussi nécessaires pour gérer la connexion à nos services.</p>

                    <h3>Comment gérer les cookies ?</h3>
                    <p>Vous pouvez accepter ou refuser les cookies à l'aide de votre navigateur internet. Vous pouvez
                        également
                        gérer
                        les cookies de manière fine en acceptant les cookies de certains et en refuser d'autres.</p>
                    <p>En supprimant les cookies, vous ne pourrez plus utiliser certains de nos services comme le forum ou
                        un
                        cookie
                        est
                        nécessaire pour gérer votre connexion.</p>
                    <p>La gestion des cookies est différente selons les navigateurs :</p>
                    <ul>
                        <li>Microsoft Edge :
                            https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies
                        </li>
                        <li>Google Chrome : https://support.google.com/chrome/answer/95647</li>
                        <li>Safari : https://support.apple.com/kb/PH21411?locale=fr_FR&viewlocale=fr_FR</li>
                        <li>Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</li>
                        <li>Opéra : http://help.opera.com/Windows/10.20/fr/cookies.html</li>
                    </ul>
                    <section>
                        <h3>Différents types de cookies</h3>
                        <p>Deux types de cookies peuvent être créés lors de votre navigation, les cookies internes créés par nos
                            services et les cookies tiers créés par nos partenaires qui affichent de la publicité par exemple ou
                            qui
                            analysent le traffic du site.</p>
                    </section>
                    <section>
                        <h3>Les cookies sur {{title}} </h3>
                        <p>Les cookies que nous déposons sur votre navigateur nous permettent de </p>
                        <ul>
                            <li>gérer votre acceptation à l'utilisation des cookies (!)</li>
                        </ul>
                        <p>Ces cookies ont une durée de vie inférieure à 1 an.</p>
                    </section>
                    <section>
                        <h3>Les cookies tiers</h3>
                        <p>{{title}} travaille entre autres avec des partenaires susceptibles de déposer des cookies
                            appelés
                            tiers à
                            des
                            fins de personnalisation des offres publicitaires selon vos centres d’intérêts définis en fonction
                            de
                            votre
                            historique de navigation ou pour analyser votre navigation sur le site nous permettant d'améliorer
                            son
                            ergonomie.</p>
                    </section>
                    <section>
                        <h3>Informations complémentaires concernant nos partenaires</h3>
                        <h4>Google</h4>
                        <p>Google vous permet de gérer et éventuellement de supprimer tout ou partie des informations vous
                            concernant à
                            travers votre compte sur https://myaccount.google.com/.</p>
                        <h4>Google Analytics</h4>
                        <p>{{title}} utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc.
                            («
                            Google
                            »).
                            Google Analytics utilise des cookies , qui sont des fichiers texte placés sur votre ordinateur, pour
                            aider
                            le site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les
                            cookies
                            concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par
                            Google
                            sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer
                            votre
                            utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et
                            de
                            fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet. Google est
                            susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers
                            traitent
                            ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera
                            pas
                            votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de
                            cookies
                            en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation
                            pourrait
                            empêcher l'utilisation de certaines fonctionnalités de {{title}}. En utilisant ce site
                            internet,
                            vous
                            consentez expressément au traitement de vos données nominatives par Google dans les conditions et
                            pour
                            les
                            finalités décrites ci-dessus.</p>
                        <p><span class="font-weight-bold">Notre conformité RGPD</span> : Les données personnelles sont
                            automatiquement
                            supprimées après 2 ans et le cookie de suivi expire après 1 an. D'autre part, les IP enregistrées
                            sont
                            rendues anonymes.</p>
                    </section>
                </section>
            </div>
        </div>
    </div>
</article>
{% endblock %}