
    <h3 class="h4 text-danger">Ceci est un endroit civilisé pour une discussion publique</h3>
    <p>Merci de traiter ce forum avec le même respect que vous le feriez dans un parc public. Nous aussi, nous
        sommes une communauté qui partage des ressources. Un lieu de partage de compétences, de connaissances et
        d’intérêts.</p>
    <p>Utilisez ce guide pour garder ce forum propre et clair.</p>

    <h3 class="h4 text-danger">Améliorer la discussion</h3>
    <p>Aidez-nous à faire de ce forum une grande place pour la discussion, en travaillant à améliorer la discussion.
        Pour éviter les réplications de sujet, vérifiez qu’un post similaire n’existe pas déjà .
        Sur ce forum, il est important d’être respectueux du sujets et des gens qui discutent avec vous, même si
        vous êtes en désaccord avec eux. Le mot d’ordre de ce forum est : RESPECT.</p>
    <p>Vous pouvez améliorer le forum en participant aux topics existant. Merci de passer un peu de temps à
        parcourir les sujets et les réponses apportés avant de répondre ou de démarrer votre propre sujet, vous
        aurez plus de chance de rencontrer d’autres personnes qui partagent vos intérêts.</p>

    <h3 class="h4 text-danger">Être agréable, même lorsque vous êtes en désaccord</h3>
    <p>Vous pouvez répondre à une personne en désaccord avec vous. C’est très bien. Mais, n’oubliez pas de critiquer
        les idées, pas les gens. Merci d’éviter:</p>
    <ul>
        <li>Les injures.</li>
        <li>Argumentum ad hominem. (attaquer une personne et non sur ses idées)</li>
        <li>Instinct de contradiction.</li>
    </ul>
    <p>Au lieu de cela, essayez de raisonner par des contre-arguments toujours dans le but d’améliorer la
        conversation.</p>

    <h3 class="h4 text-danger">Votre participation compte</h3>
    <p>Les conversations sont ouverte à tout le monde. Aidez-nous à faire connaître ce forum afin que cet endroit
        devienne un endroit intéressant pour la communauté francophone.</p>

    <h3 class="h4 text-danger">Si vous remarquez un problème, signalez le</h3>
    <p>Les modérateurs ont un pouvoir spécial, ils sont responsables de ce forum. Mais vous l’êtes aussi. Avec votre
        aide, les modérateurs peuvent être des aides communautaires, et pas seulement faire la police sur ce forum.
    </p>
    <p>Quand vous voyez un mauvais comportement, merci de ne pas répondre. Cela encourage le mauvais comportement en
        le reconnaissant, consomme votre énergie, et vous fait perdre votre temps. Juste signalez-le. Si
        suffisamment de personnes signalent le post, des mesures seront prises, soit automatiquement, soit par un
        modérateur.</p>
    <p>Afin de maintenir notre communauté, les modérateurs se réservent le droit de supprimer tout contenu et tout
        compte d’utilisateur pour une raison quelconque. Les modérateurs et les opérateurs du site n’assument aucune
        responsabilité pour tout contenu affiché par la communauté.</p>

    <h3 class="h4 text-danger">Toujours rester cordial</h3>
    <p>Rien n’est plus désagréable dans une bonne conversation que de l’impolitesse :</p>
    <ul>
        <li>Soyez civil. Ne postez pas ce qu’une personne raisonnable considérerait comme offensant, abusif, ou
            comme discours de haine.</li>
        <li>Gardez le forum propre. Ne publiez pas de contenu obscènes ou sexuellement explicites.</li>
        <li>Respectez les autres. Ne harcelez pas les autres utilisateurs du forum, n’usurpez pas l’identité des
            personnes et n’exposez pas leurs informations privées.</li>
        <li>Respectez notre forum. Ne postez pas de spam.</li>
    </ul>
    <p>C’est un forum public, et les moteurs de recherche indexent les discussions.</p>

    <h3 class="h4 text-danger">Rester cohérent</h3>
    <p>Faites l’effort de mettre chaque sujet au bon endroit, afin que nous puissions passer plus de temps à
        discuter et moins au nettoyage du forum. Soit :</p>
    <p>Ne pas lancer un sujet dans la mauvaise catégorie. <br>
        Ne pas poster le même sujet dans plusieurs rubriques. <br>
        Ne pas détourner un sujet en le changeant en cours de route.</p>

    <h3 class="h4 text-danger">Ne postez que vos propres contenus</h3>
    <p>Vous ne pouvez pas publier de contenu numérique qui appartient à quelqu’un d’autre sans sa permission. Vous
        ne pouvez pas poster de descriptions, de liens, ou des méthodes en volant la propriété intellectuelle de
        quelqu’un d’autre (logiciels, vidéo, audio, images, etc). Citez vos sources !</p>

    <h3 class="h4 text-danger">Conditions de service</h3>
    <p></p>

    <h3 class="h4 text-danger"></h3>
    <p>Oui, le jargon juridique est ennuyeux, mais nous devons nous protéger nous-mêmes – et, par extension, vous et
        vos données contre les gens hostiles. <br>
        L’ensemble des contenus diffusés sur ce blog sont sous la responsabilité de leurs auteurs et ne sauraient
        nous engager.</p>