{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block description %}
    Forum - {{ title }} posté par {{subject.userPseudo}}
{% endblock %}


{% block body %}
    <div class="bgfullSize bg-image--forest"></div>
    <div class="bgfullSize bgColor--filterBlack"></div>

    <article class="forumSubject">
        {# header #}
        <div class="container bg-dark mt-1">
            <div class="row">
                <div class="col-12 py-5">
                    <div class="text-center ft__family--lobster">
                        <h1 class="text-light">Posté par
                            {{subject.userPseudo}}
                        </h1>
                    </div>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('forum_subjects',
                             {'page':memoryPage,'categorySlug':categorySlug}) }}">
                                Bienvenue sur le forum
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ subject.title }}</li>
                    </ol>
                    </div>
                </nav>
        </div>
        {# sujet #}
        <div class="container bg-dark mb-1">
            <div class="row border-top border-secondary bg-light">
                <div class="col-12 p-4 text-light bg-dark">
                    <h3 class="fw-bold">{{ subject.title }}</h3>
                    <div class="d-flex flex-row justify-content-between">
                        <p class="fw-bold">Auteur : 
                            {{subject.userPseudo}}
                        </p>
                        <p class="fw-light fst-italic">
                            {{ subject.createdAt|format_datetime('full', 'none', locale='fr') }}
                        </p>
                    </div>
                </div>

                <div class="col-12 p-4 forumSubject__commentary__image--size">
                    {{subject.description|raw}}
                </div>
                
                <div class="col-12 border-top border-dark bg-dark text-center pt-4 pb-2">
                    {# poster un commentaire si l'utilisateur est authentifé #}
                    {% if app.user %}
                        <p>
                            <a class="btn btn-outline-warning" data-bs-toggle="collapse" href="#repondre" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Ajouter un commentaire
                            </a>
                        </p>
                        <div class="collapse" id="repondre">
                            <div class="card card-body">
                                {{form(commentsForm)}}
                            </div>
                        </div>
                    {% else %}
                    <h4 class="text-light">Vous souhaitez répondre !
                        <a class="badge bg-warning p-3" href="{{path('login')}}">Connectez-vous ou créez votre compte !</a></h4>
                    {% endif %}
                </div>
            </div>

            {# COMMENTAIRES #}
            {% for comment in commentsPagination %}
            <div class="row bg-light border-top border-secondary">
                <div class="col-12 p-3 d-flex flex-row justify-content-between">
                    <h3 class="fw-bold">
                        {{comment.userPseudo}}
                        <span class="ftsz-12"> a répondu</span>
                    </h3>
                    <p class="fw-light fst-italic">{{ dateDiff(comment.createdAt|date("m/d/Y H:i",false)) }}
                    </p>
                </div>
                <div class="col-12 p-3 forumSubject__commentary__image--size">
                    {{comment.commentary|raw}}
                </div>
                <div class="col-12 p-3">
                    <p class="text-secondary font-italic">{{comment.createdAt|format_datetime('full', 'short', locale='fr')}}</p>
                </div>
            </div>
            {% endfor %}
            {{ knp_pagination_render(commentsPagination) }}
        </div>
    <article>
{% endblock %}

