{% extends 'base.html.twig' %}

{% block title %}
    Forum - Le royaume des champignons
{% endblock %}

{% block description %}
    Vous avez besoin d'aide ? Ce forum est fait pour vous!
{% endblock %}

{% block body %}
<div class="bgfullSize bg-image--forest"></div>
<div class="bgfullSize bgColor--filterBlack"></div>

<article class="forumSubjects">
    <div class="container bg-dark mt-1">
        <header class="row">
            <div class="col-12 py-5 text-light text-center">
                <div>
                    <h1>Bienvenue sur le forum</h1>
                    <h2>Vous avez besoin d'aide ?</h2>
                </div>
            </div>
        </header>
    </div>

    <div class="container mb-1 bg-dark border-top border-secondary">
        <div class="row py-3 m-md-3 rounded">
            {# CHARTE DU FORUM #}
            <div class="col-12 p-3">
                <p class="text-light forumCharte">ici, vous pouvez discuter, questionner, échanger avec les autres membres de la communauté. Afin que
                    tout se passe bien, voici quelques règles à respecter...
                   <a class="forumCharte" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        lire la suite
                    </a>
                </p>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Règles du forum</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {% include 'forum/_charteForum.html.twig' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# AJOUTER UN SUJET #}
            {% if app.user %}       
                <div class="text-center border-bottom border-secondary pb-4">
                    {# <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Poster un sujet sur le forum
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Créer un sujet</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                {{ form_start(subjectsform) }}
                                <div class="modal-body">
                                    {{ form_row(subjectsform.title) }}
                                    {{ form_row(subjectsform.description) }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">Publier</button>
                                </div>
                                {{ form_end(subjectsform) }}
                            </div>
                        </div>
                    </div> #}
                    {# read and display just one flash message type #}

                    <a class="h5 btn btn-warning" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                        aria-expanded="false" aria-controls="multiCollapseExample1">
                         Poster un sujet sur le forum
                    </a>
                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body bg-dark text-light p-4">
                            {{ form(subjectsform) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {# TABLEAU LISTE DES SUJETS #}
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-12 border-bottom border-secondary">
                        {{ form_start(formCategory,{'attr':{'class':'row  g-3'}}) }}
                            {{ form_row(formCategory.name) }} 
                            {{ form_row(formCategory.save) }} 
                        {{form_end(formCategory)}}
                    </div>

                    <div class="col-12 my-5">
                    {% if nameCategory is not empty %}
                       <h4 class="text-light text-center">{{nameCategory}}</h4>
                        {% endif %}
                    </div>
                   
                    <div class="col-12">
                        <div class="table-responsive-md">
                            <table class="table text-light">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            {{countSubjects}} sujet(s) sur le forum
                                            {# {{ knp_pagination_sortable(subjectsPagination, subjectsPagination.getTotalItemCount ~ ' sujet(s) sur le forum', 'title') }} #}
                                        </th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Auteur</th>
                                        <th scope="col">Catégorie</th>
                                        <th scope="col">Reponse(s)</th>
                                        <th scope="col"> 
                                            {# {% if subjectsPagination.isSorted('createdAt') %} class="fst-italic"
                                            {% endif %}>
                                            {{ knp_pagination_sortable(subjectsPagination, ' Activité', 'createdAt') }} #}
                                            Activité
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if subjectsPagination %}
                                {% for subject in subjectsPagination %}
                                <tr>
                                    <td><a href="{{ path('forum_subject', {'slug': subject.slug, 'memoryPage': memoryPage, 'categorySlug': categorySlug}) }}">{{subject.title}}</a></td>
                                    <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#{{ subject.slug }}">
                                        Aperçu
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{subject.slug}}"tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg text-dark" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">{{ subject.title|raw }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col forumSubjects__commentary__image--size">
                                                        {{subject.description|raw}}
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {# {{subject.description|slice(0,100)|nl2br}}... #}
                                    </td>
                                    <td>
                                        {{subject.userPseudo}}
                                    </td>
                                    <td>
                                    {# {{subject.forumCategory|length}} #}
                                    {% for categorie in subject.forumCategory %}
                                        {{categorie.name}}
                                        {% if subject.forumCategory|length %}<br>{% endif %}
                                    {% endfor %}
                                    </td>
                                    <td>{{subject.forumCommentary|length}}</td>
                                    <td>{{ dateDiff(subject.createdAt|date("m/d/Y H:i",false)) }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {{ knp_pagination_render(subjectsPagination) }}
</article>
{% endblock %}

